.fixedBar {
    flex-basis: 20dvh;
    background-color: #004e52;
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}